/* @tailwind base; */
/* @tailwind components; */

/* exposing some theme variables */
:root {
  --tw-colors-highlight: theme(colors.highlight);
  --tw-colors-text-primary: theme(colors.text.primary);
  --tw-background: theme(colors.background);
  @media (max-width: theme(screens.md)) {
    --tw-background: #122438;
  }
}

h1:focus-visible {
  outline: none;
}

html,
body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 16px;
}

body {
  background: -moz-linear-gradient(
    110deg,
    rgb(18, 3, 41) 0%,
    var(--tw-background) 25%,
    var(--tw-background) 42%,
    rgba(10, 4, 23, 1) 100%
  );
  background: -webkit-linear-gradient(
    110deg,
    rgb(18, 3, 41) 0%,
    var(--tw-background) 25%,
    var(--tw-background) 42%,
    rgba(10, 4, 23, 1) 100%
  );
  background: linear-gradient(
    110deg,
    rgb(18, 3, 41) 0%,
    var(--tw-background) 25%,
    var(--tw-background) 42%,
    rgba(10, 4, 23, 1) 100%
  );

  margin: 0;
  color: theme(colors.text.primary);
  font-family: theme(fontFamily.serif);

  background-size: cover;
  background-position: center;
  position: relative;
  overscroll-behavior: none;
}

@media (max-width: 960px) {
  body {
    /* fixing white background on home page on mobile after squirrel jump animation */
    background: var(--tw-background);
    background: -webkit-linear-gradient(
      to left,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

/* Tag styles */
.tags-h1,
.tags-body,
.tags-div,
.tags-div-end {
  position: relative;
}

.tags-div-end {
  padding-bottom: 25px;
}

.tags-body {
  padding: 45px 0;
}

.tags-h1::after,
.tags-h1::before,
.tags-body::after,
.tags-body::before,
.tags-div::after,
.tags-div::before,
.tags-div-end::after {
  color: theme(colors.text.subtle1);
  position: absolute;
  left: 0;
  font-family: 'League Script', 'Inconsolata', cursive;
  font-weight: 900;
  font-size: 0.8rem;
  text-transform: none;
}

.tags-body::before {
  content: '<body>';
  top: 20px;
}
.tags-body::after {
  content: '</body>';
  bottom: 20px;
}
.tags-body::before,
.tags-body::after {
  left: 2%;
}

.tags-h1::before {
  content: '<h1>';
  bottom: 100%;
}
.tags-h1::after {
  content: '</h1>';
  top: calc(100% + 0.4rem);
}

.tags-div::before {
  content: '<div>';
  top: 0;
}
.tags-div::after,
.tags-div-end::after {
  content: '</div>';
  bottom: 0px;
}

@tailwind utilities;
