@keyframes squirellAnimation {
  0% {
    background-position: left top;
  }

  15% {
    top: 29%;
  }

  30% {
    top: 32%;
  }

  75% {
    top: 46%;
    right: 55%;
    background-position-x: 100%;
  }

  100% {
    background-position: 100% bottom;
    top: 46%;
    right: 55%;
  }
}

.squirell {
  position: absolute;
  top: 28%;
  right: 48%;

  /* determines how long is squirrel's jump */
  width: var(--squirrel-width);
  height: var(--squirrel-height);
  /* bug occurs here if --squirrel-height is in percentage */
  background-size: calc(var(--squirrel-height) * 1.2);
  background-repeat: no-repeat;
  transform: scaleX(-1); /* "mirror" effect on squirrel */

  animation: squirellAnimation 1s steps(9) 2s forwards;
}

.artContainer {
  --content-width: 100%; /* must be in pixels, will be updated with JS */
  --content-to-art-width-ratio: 0.95;
  --art-width: calc(var(--content-width) * var(--content-to-art-width-ratio));

  --mountain-width-to-height-ratio: calc(1058 / 433);
  --rv-width-to-height-ratio: calc(500 / 309);
  --mountain-height: calc(
    var(--art-width) / var(--mountain-width-to-height-ratio)
  );

  --rv-width: calc(var(--art-width) * 0.7);
  --rv-height: calc(var(--rv-width) / var(--rv-width-to-height-ratio));
  --rv-top: 28%;
  --rv-right: 9%;
  --rv-width-to-squirrel-height-ratio: 7;
  --squirrel-width: calc(var(--rv-width) / 5.25);
  --squirrel-height: calc(
    var(--rv-width) / var(--rv-width-to-squirrel-height-ratio)
  );

  position: absolute;
  top: 60px;
  right: 0px;
  width: var(--art-width);
  height: var(--mountain-height); /* mountain height */

  opacity: 0.8;
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);

  @media (min-width: 850px) {
    --content-to-art-width-ratio: 0.9;
    top: 80px;
  }

  @media (min-width: 961px) {
    --starting-top: 160px;
    --content-diff: calc(var(--content-width) - 960px);
    --ratio: calc((1320 - 960) / 120);
    top: calc(var(--starting-top) - var(--content-diff) / var(--ratio));

    /* cut off right side */
    right: calc(var(--art-width) * -0.1);
    --content-to-art-width-ratio: 0.8;
  }

  @media (min-width: 1320px) {
    top: 0px;
  }

  @media (max-width: 660px) {
    top: 0px;
  }
}

@keyframes titleAnimation {
  to {
    background-position: right;
  }
}

.animateTitle {
  background: linear-gradient(
    to right,
    theme(colors.text.primary),
    theme(colors.text.primary) 60%,
    theme(colors.highlight)
  );
  background-size: 200%;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: titleAnimation linear 1.5s forwards;
}