.externalLink {
  --padding: 4px;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    color: theme(colors.accent.black);
    transform: scale(1.1);
  }
  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 50%;
    transition: 0.3s;
    z-index: -1;
    background-color: theme(colors.highlight);
  }

  &::after,
  &::before {
    width: calc(100% + var(--padding) * 2);
    transform: scaleX(0);
  }
  &::after {
    transform-origin: right;
    top: 0;
    right: calc(var(--padding) * -1.65);
  }
  &::before {
    transform-origin: left;
    bottom: 0;
    left: calc(var(--padding) * -1.65);
  }
  &:hover::after,
  &:hover::before {
    transform: scaleX(1);
  }
}