.mediaLink {
  position: relative;
}
@media (hover: hover) and (pointer: fine) {
  .mediaLink i {
    &::after {
      content: var(--hover-text, 'navigate');
      font-size: 0.7rem;
      font-weight: bold;
      letter-spacing: 0.1px;
      position: absolute;
      display: block;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      opacity: 0;
      text-transform: uppercase;
      font-family: 'Inconsolata', monospace;
    }

    &::before,
    &::after {
      -webkit-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out;
    }
  }

  .mediaLink:hover i {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
}